.container {
    max-width: 540px !important;
}

.back-button {
    display: inline-block;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 50%;
    padding: 8px 16px;
}

.back-button:hover {
    background-color: #bbb;
    color: black;
}
