# Example .env file.
# Will be committed to version control.
# Do not store sensitive information.

DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<database>

SESSION_TOKEN_SECRET=secret
SESSION_TOKEN_EXPIRY=1h
SESSION_COOKIE_NAME=session
SESSION_COOKIE_EXPIRY=3600